<?xml version="1.0"?>
<configuration>

  <configSections>
  </configSections>
  <connectionStrings>
    <clear/>
    <add name="ASPNetDBConnectionString"
         connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DB\Station.mdb;Persist Security Info=True"
    providerName="System.Data.OleDb" />
    <add name="DBTask.Properties.Settings.StationConnectionString"
       connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DB\Station.mdb;Persist Security Info=True"
       providerName="System.Data.OleDb" />
    <!--<add name="ASPNetDBConnectionString"
    connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\DB\Station.mdb;Persist Security Info=True"
 providerName="System.Data.OleDb" />
  <add name="DBTask.Properties.Settings.StationConnectionString"
    connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=F:\Mapx\Eulei.Map\Eulei.Map\DB\Station.mdb;Persist Security Info=True"
   providerName="System.Data.OleDb" />-->


  </connectionStrings>
  <appSettings>
    <add key="ControlType" value="Eulei.Control"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="AccessMembershipProvider">
      <providers>
        <clear/>
        <add name="AccessMembershipProvider"
     type="Samples.AccessProviders.AccessMembershipProvider, SampleAccessProviders"
     connectionStringName="ASPNetDBConnectionString"
     enablePasswordRetrieval="false"
     enablePasswordReset="true"
     requiresUniqueEmail="false"
     requiresQuestionAndAnswer="false"
     minRequiredPasswordLength="1"
     minRequiredNonalphanumericCharacters="0"
     applicationName="SampleSite"
     hashAlgorithmType="SHA1"
     passwordFormat="Hashed"/>
      </providers>
    </membership>
    <roleManager enabled="true" cacheRolesInCookie="true" defaultProvider="AccessRoleProvider">
      <providers>
        <clear />
        <add connectionStringName="ASPNetDBConnectionString" applicationName="SampleSite"
          name="AccessRoleProvider" type="Samples.AccessProviders.AccessRoleProvider, SampleAccessProviders" />
      </providers>
    </roleManager>
    <profile enabled="true" defaultProvider="AccessProfileProvider">
      <providers>
        <add name="AccessProfileProvider"
     type="Samples.AccessProviders.AccessProfileProvider, SampleAccessProviders"
     connectionStringName="ASPNetDBConnectionString"
     applicationName="SampleSite"
     description="Stores and retrieves profile data from an $safeprojectname$ database."/>
      </providers>
      <properties>
        <add name="FriendlyName" type="string" allowAnonymous="true" serializeAs="String"/>
        <add name="Height" type="int" allowAnonymous="true" serializeAs="String"/>
        <add name="Weight" type="int" allowAnonymous="true" serializeAs="Xml"/>
      </properties>
    </profile>
  </system.web>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
